<%= form_with(model: meeting, local: true) do |form| %>
<%= render 'shared/error_messages', obj: @meeting %>


<div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, :rows => 5, style: 'width:100%;' %>
</div>

<div class="actions">
    <%= form.submit %>
</div>
<% end %>