<li id="meeting-<%= meeting.id %>">

    <span class="user"><%= link_to meeting.creator.name, meeting.creator %></span>
    <br>
    <span class="content">

        <%= meeting.content %>

    </span> <br>
    <small class="timestamp">
        Posted <%= time_ago_in_words(meeting.created_at) %> ago.
        <% if current_user?(meeting.creator) %>
        <%= link_to "Delete", meeting, method: :delete,
                                       data: { confirm: "You sure?" },
                                       class: "badge bg-warning" %>
        <% end %>
    </small>
</li>