<h1>Meetings</h1>


<% @meetings.each do |meeting| %>
<ul>
    <li>Author: <%= meeting.user.name %></li>
    <li><%= meeting.content %></li>
    <li><%= link_to 'Show', meeting %></li>
    <% if current_user?(meeting.user) %>
    <li><%= link_to 'Edit', edit_meeting_path(meeting) %></li>
    <li><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% end %>
</ul>
<% end %>